
<script LANGUAGE="JavaScript">
<!--
function confirmSubmit()
{
var agree=confirm("Are you sure you wish to continue?");
if (agree)
	return true ;
else
	return false ;
}
// -->
</script>

<%
  app_hash = {}
  class_hash = {}
  event_hash = {}
  
  # collect each differently
  ::ResqueBus::Application.all.each do |app|
    app_key = app.app_key
    
    app_hash[app_key] ||= []
    app.event_display_tuples.each do |tuple|
      class_name, queue, filters = tuple
      if filters["bus_event_type"]
        event = filters["bus_event_type"]
      else
        event = "see filter"
      end
      
      app_hash[app_key] << [event, class_name, queue, filters]
      
      class_hash[class_name] ||= []
      class_hash[class_name] << [app_key, event, queue, filters]

      event_hash[event] ||= []
      event_hash[event] << [app_key, class_name, queue, filters]
    end
  end
  
  # sort each list item by secondary label
  class_hash.each do |_, array|
    array.sort!{ |a,b| a.first <=> b.first }
  end
  event_hash.each do |_, array|
    array.sort!{ |a,b| a.first <=> b.first }
  end
  
  # helper to display either
  def display_row(name, val, button=nil, first=false)
    form = ""
    if button
      text, url = button
      form = "<form method='POST' action='#{u url}' style='float:left; padding:0 5px 0 0;margin:0;'><input type='submit' name='' value='#{text}' style='padding:0;margin:0;' onclick=\"return confirmSubmit();\"/><input type='hidden' name='name' value='#{h(name)}' /></form>"
    end
    
    if !val
      out = "<td>&nbsp;</td><td>&nbsp;</td>"
    else
      one, two, queue, filters = val
      out = "<td>#{h(one)}</td><td>#{h(two)}</td><td><a href='#{u("queues/#{queue}")}'>#{h(queue)}</a></td>"
      out << "<td>#{h(::ResqueBus::Util.encode(filters).gsub(/\"bus_special_value_(\w+)\"/){ "(#{$1})" }).gsub(" ", "&nbsp;").gsub('&quot;,&quot;', '&quot;, &quot;')}</td>"
    end
    
    if first
      "<tr><td>#{h(name)}#{form}</td>#{out}</tr>\n"
    else
      "<tr><td>&nbsp;</td>#{out}</tr>\n"
    end
  end
  
  def output_hash(hash, action=nil)
    out = ""
    hash.keys.sort.each do |item|
      display = hash[item]
      first = display.shift
      out << display_row(item, first, action, true)
      display.each do |val|
        out << display_row(item, val, action)
      end
    end
    out
  end
%>



<h1 class='wi'>Applications</h1>
<p class='intro'>The apps below have registered the given classes and queues.</p>
<table class='queues'>
  <tr>
    <th>App Key</th>
    <th>Event Type</th>
    <th>Class Name</th>
    <th>Queue</th>
    <th>Filters</th>
  </tr>
  <%= output_hash(app_hash, ["Unsubscribe", "bus/unsubscribe"]) %>
</table>

<p>&nbsp;</p>

<h1 class='wi'>Events</h1>
<p class='intro'>The events below have been registered by the given applications and queues.</p>
<table class='queues'>
  <tr>
    <th>Event Type</th>
    <th>App Key</th>
    <th>Class Name</th>
    <th>Queue</th>
    <th>Filters</th>
  </tr>
  <%= output_hash(event_hash, false) %>
</table>



<p>&nbsp;</p>
  
<h1 class='wi'>Classes</h1>
<p class='intro'>The classes below have been registered by the given applications and queues.</p>
<table class='queues'>
  <tr>
    <th>Class Name</th>
    <th>App Key</th>
    <th>Event Type</th>
    <th>Queue</th>
    <th>Filters</th>
  </tr>
  <%= output_hash(class_hash, false) %>
</table>
